In [25]:
def multiply_list(items) :
    tot = 1
    for x in items :
       tot = tot*x
    return tot
list1 = [1,2,3]
list2 = [3,2,-1]
print(multiply_list(list1))
print(multiply_list(list2))

6
-6

In [18]:
def last (n) : return n[-1]
def sort_list_last (tuples) :
    return sorted (tuples, key=last)
print (sort_list_last ([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [21]:
d1 = {"a": 100, "b": 200, "c": 300}
d2 = {"a":300, "b": 200, "c": 400}
d3 = {}
for i,j in d1.items () :
    for x,y in d2.items () :
        if i==x :
            d3[i]=(j+y)
print (d3)

{'a': 400, 'b': 400, 'c': 700}

In [26]:
n = int(input())
d = {x :x*x for x in range (1,n+1)}
print (d)

3
{1: 1, 2: 4, 3: 9}

In [29]:
def Sort(tup):
    return(sorted(tup, key = lambda x: float(x[1]), reverse = True))
tup = [('item1', '12.2'), ('item2', '15.5'), ('item3', '24.5')]
print(Sort(tup))

[('item3', '24.5'), ('item2', '15.5'), ('item1', '12.2')]